/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 774px;
	width: 1013px;
	overflow: hidden;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
	
    border: 1px solid #000;
    width: 748px;
    display: block;
    height: 772px;
}

.st-status {
	font-size: 12px;
	font-weight: bold;
}

/* border */

.st-item {
	border: 1px solid #000;
}

/* .no-border */

.no-border .st-section {
	border: 1px solid transparent;
}

.no-border .st-item {
	border: 1px solid transparent;
}

/* overview */

.st-overview {
	position: absolute;
	top: 0px;
	left: 250px;
	width: 314px;
	height: 100px;
}

.st-overview-item {
	display: block;
	font-size: 12px;
	margin-top: 0.6px;
}

.st-overview-item-rank {
	margin-left: 64px;
}

.st-overview-item-assignment {
	margin-left: 100px;
}

.st-overview-item-ship {
	margin-left: 204px;
}

.st-overview-item-position {
	margin-left: 188px;
}

/* demographics */

.st-demographics {
	position: absolute;
	top: 0px;
	left: 628px;
	width: 100px;
	height: 100px;
}

.st-demographics-item {
	display: block;
	font-size: 12px;
	margin-top: 0.6px;
	text-align: center;
	text-transform: uppercase;
}

.st-demographics-item label {
	position: absolute;
	left: -40px;
}

/* attributes */

.st-attributes {
	position: absolute;
	top: 118px;
	left: 78px;
	width: 614px;
}

.st-attribute {
	border: 1px solid #000;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	margin: 0 0 0 0;
	padding: 0 20px 0 0;
	position: relative;
	text-align: right;
	width: 87.4px;
}

.st-attribute label {
	position: absolute;
	left: 8px;
	text-transform: uppercase; 
}

/* endurance */

.st-endurance {
	position: absolute;
	top: 138px;
	left: 78px;
	width: 614px;
}

.st-endurance-item {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 72px;
	position: relative;
	text-align: center;
	width: 87.4px;
}

.st-endurance-item label {
	position: absolute;
	font-size: 0.8em;
	left: 8px;
	text-transform: uppercase; 
}

.st-endurance-item-woundhealrate {
	margin: 12px 0 0 0;
}

.st-endurance-item-fathealrate {
	margin: 12px 0 0 0;
}

.st-endurance-item-woundhealrate label {
	font-size: 0.7em;
}

.st-endurance-item-fathealrate label {
	font-size: 0.7em;
}

/* stats */

.st-stats {
	position: absolute;
	top: 182px;
	left: 506px;
}

.st-stat {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 44.8px;
}

.border .st-skills {
	border: 1px solid orange;
}

.st-skill-list-header {
	position: absolute;	
	top: 366px;
	left: 80px;
	width: 400px;
}

.st-skills {
	line-height: 0px;
	margin: 0;
	padding: 0;
	width: 100px;
}

.st-skills-0, 
.st-skills-1,
.st-skills-2 {
	position: absolute;
	top: 412px;
}

.st-skills-0 {
	left: 80px;
}

.st-skills-1 {
	left: 290px;
}

.st-skills-2 {
	left: 498px;
}

.st-skill {
	display: inline-block;
	margin: 0 0 0 0;
}

.st-skill-item-key {
	position: absolute;
	display: inline-block;
	font-size: 10px;
	left: 0px;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	text-transform: capitalize;
	width: 30px;
}

.st-skill-item-key {
	position: absolute;
	display: inline-block;
	font-size: 10px;
	left: 0px;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
	width: 186px;
}

.st-skill-item {
	position: absolute;
	display: inline-block;
	font-size: 10px;
	left: 166px;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	width: 20px;
}

.st-skill-item-key-artistic-expression-1 {
	padding-left: 98px;
}

.st-skill-item-key-language-1,
.st-skill-item-key-language-2,
.st-skill-item-key-language-3,
.st-skill-item-key-language-4,
.st-skill-item-key-language-5,
.st-skill-item-key-language-6 {
	padding-left: 58px;
}

.st-skill-item-key-life-sciences-1 {
	padding-left: 72px;
}

.st-skill-item-key-life-sciences-2,
.st-skill-item-key-life-sciences-3,
.st-skill-item-key-life-sciences-4,
.st-skill-item-key-life-sciences-5 {
	padding-left: 24px;
}

.st-skill-item-key-medical-sciences-1 {
	padding-left: 88px;
}

.st-skill-item-key-medical-sciences-2 {
	padding-left: 110px;
}

.st-skill-item-key-medical-sciences-3,
.st-skill-item-key-medical-sciences-4,
.st-skill-item-key-medical-sciences-5,
.st-skill-item-key-medical-sciences-6 {
	padding-left: 24px;
}

.st-skill-item-key-physical-sciences-1 {
	padding-left: 88px;
}

.st-skill-item-key-physical-sciences-2,
.st-skill-item-key-physical-sciences-3,
.st-skill-item-key-physical-sciences-4 {
	padding-left: 24px;
}

.st-skill-item-key-planetary-sciences-1 {
	padding-left: 98px;
}

.st-skill-item-key-planetary-sciences-2,
.st-skill-item-key-planetary-sciences-3,
.st-skill-item-key-planetary-sciences-4 {
	padding-left: 24px;
}

.st-skill-item-key-planetary-survival-1 {
	padding-left: 88px;
}

.st-skill-item-key-planetary-survival-2,
.st-skill-item-key-planetary-survival-3,
.st-skill-item-key-planetary-survival-4 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-1 {
	padding-left: 84px;
}

.st-skill-item-key-social-sciences-2 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-3 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-4 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-5 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-6 {
	padding-left: 24px;
}

.st-skill-item-key-social-sciences-7 {
	visibility: hidden;
}

.st-skill-item-key-social-sciences-8 {
	visibility: hidden;
}

.st-skill-item-key-space-sciences-1 {
	padding-left: 82px;
}

.st-skill-item-key-space-sciences-2 {
	visibility: hidden;
}

.st-skill-item-key-space-sciences-3 {
	padding-left: 24px;
}

.st-skill-item-key-space-sciences-4 {
	padding-left: 24px;
}

.st-skill-item-key-space-sciences-5 {
	padding-left: 24px;
}

.st-skill-item-key-sports-1 {
	padding-left: 36px;
}

.st-skill-item-key-trivia-1 {
	padding-left: 36px;
}

.st-skill-item-key-trivia-2 {
	padding-left: 24px;
}

.st-skill-item-key-trivia-3 {
	padding-left: 24px;
}

.st-skill-item-key-vehicle-operation-1 {
	padding-left: 98px;
}

.st-action-points {
	height: 766px;
	left: 698px;
	position: absolute;
	top: 134px;
	width: 38px;
}

.st-item.st-action-point {
	border: 1px solid black;
	display: inline-block;
	height: 39.5px;
	margin: 1px;
	position: absolute;
	width: 32px;
}

.st-tohits {
	height: 100px;
	left: 428px;
	position: absolute;
	top: 244px;
	width: 264px;
}

.st-item.st-tohit {
	display: inline-block;
	font-size: 10px;
	height: 26px;
	margin: 1px;
	padding: 8px 2px 0 0;
	position: absolute;
	text-align: right;
	width: 86px;
}

.st-tohit-hth {
	left: 87px;
}

.st-tohit-bareDamage {
	left: 90px;
	top: 24px;
}

.st-disabled {
	opacity: 0.75;
}

.st-actions {
	margin-top: 20px;
	text-align: right;
}

/* service-experience */

.st-service-experience {
	margin: 0;
	padding: 0;
	position: absolute;
	top:178px;
	left: 78px;
	width: 614px;
	height: 200px;
}

.st-service-experience-header {
	width: 260px;
}

.st-assignment-table {
	margin-top: -20px;
}

.st-division-name,
th.st-tour-name.st-division-name {
	width: 200px;
	transform: inherit;
	writing-mode: inherit;
}

.st-division-name.st-tour-name {
	border: none;
}

.st-service-experience th, 
.st-service-experience td {
	border: 1px solid black;
	width: 20px;
	height: 20px;
	font-weight: normal;
	font-size: 10px;
}

.st-service-experience th.st-assignment {
	border: 1px solid transparent;
	width: 222px;
}

.st-service-experience th.st-tour-names {
	border: none;
	overflow: visible; 	
	text-wrap: nowrap;
}

.st-tour-name {
	display: inline-block;
	font-weight: normal;
	font-size: 10px;
	padding-left: 4px;
	text-wrap: nowrap;
	transform: rotate(-60deg);
	width: 20px;
	writing-mode: horizontal-tb;
}

.st-assignment-table .st-value {
	text-align: center;
}