/* st-dialogs.css */

/* beginning */

.st-beginning {
	background-color: #fff;
	border: 1px solid red;
	display: block;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top: 20%;
	left: 10%;
	height: 33%;
	width: 80%;
	box-shadow: 2px 2px 2px 0px #FF0000;
}

.st-beginning-header {
	margin-top: 0px;
}

.st-beginning-instructions {
	display: block;
	margin-bottom: 10px;
}

.st-beginning .st-key,
.st-beginning .st-key-select {
	margin-left: 10px;
	position: relative;
}

.st-beginning .st-value {
	float:right;
	margin-right: 30%;
}

/* st-beginning-electives */

.st-beginning-electives {
	background-color: #fff;
	border: 1px solid red;
	display: block;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top:20%;
	left: 10%;
	height: 360px;
	width: 80%;
	box-shadow: 2px 2px 2px 0px #FF0000;
}

.st-beginning-electives .st-key-div {
	height: 22px;
}

.st-beginning-electives .st-key-span,
.st-beginning-electives .st-key-select {
	margin-left: 10px;
	position: relative;
}

.st-beginning-electives .st-value {
	float:right;
	margin-right: 30%;
}

/* broadening */

.st-broadening {
	background-color: #fff;
	border: 1px solid red;
	display: block;
	font-size: 12px;
	padding: 10px;
	position: relative;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	box-shadow: 2px 2px 2px 0px #FF0000;
}

.st-broadening-header {
	margin-top: 0px;
}

.st-broadening-instructions {
	display: block;
	margin-bottom: 10px;
}

.st-broadening .st-specialty-span,
.st-broadening .st-skill-select {
	margin-left: 10px;
	position: relative;
	text-decoration: underline;
}

.st-beginning-electives .st-skill-div {
	height: 22px;
}

.st-broadening .st-skill-span {
	margin-left: 10px;
	position: relative;
}

.st-broadening .st-value {
	float:right;
	margin-right: 30%;
}