/* ep.css */

* {
	font-family: 'Helvetica', "Arial", sans-serif; /* eclipse phase table font is lato */
}

p {
	font-family: 'Sabon LT Std', 'Palatino', serif; /* eclipse phase body font is sabon */
}

body {
	margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica', "Arial", sans-serif; /* eclipse phase table font is lato */
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

h4 {
	font-size: 0.8em;
}

label {
	font-weight: normal;
}

.progress-bar {
	background: #ac2629;
}

.st-nav {
	height: 30px;
	margin: 8px 0 8px 0;
	padding: 2px;
	width: 1013px;
}

.st-nav .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.st-nav ul li {
	display: inline-block;
	height: 8px;
	margin: 0 0 0 8px;
	text-transform: uppercase;
}

.st-nav a, .st-nav label,.st-nav select {
	font-size: 12px;
}

.st-nav-links {
	display: none; /* initially hidden */
	float: right;
	text-align: right;
	width: 50%;
}

.st-nav-link {
	color: #ac2629;
}

.st-nav-link:hover {
	color: #ff9999;
}

.st-nav-link.st-nav-link-active {
	background: #ac2629;
	color: #ffffff;
	cursor: default;
	text-decoration: none;
}

.st-nav-link.st-nav-link-active:hover {
	color: #ffffff;
	text-decoration: none;
}

.st-nav-char {
	width: 50%;
}

.st-nav-char .progress {
	display: none;
}
.st-hidden {
	display: none;
}